/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

body{
      margin: 0;
      height: auto;
      font-family: 'Montserrat',sans-serif;
      font-weight: 800;
}