.container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
}

.sidebar {
      width: 20%;
      background-color: #f1f1f1;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;

      /* altura total de la ventana del navegador */
}

.barra-nav {
      background-color: #acacac;
      width: 90%;
      height: 95%;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;
}

app-barranav {
      height: 80%;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.main-content {
      width: 80%;
      height: 100vh;
      background-color: #e9e9e9;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
}

.cuerpo {
      height: 95%;
      width: 100%;
      background-color: #acacac;
      display: grid;
      place-items: center;
      border-radius: 12px;
      
      justify-content: center;
      overflow: overlay;
}

@media (max-width:800px) {
      .container {
            display: flex;
            flex-direction: column;
            width: 100%;
      }

      .sidebar {

            width: 100%;
            background-color: #f1f1f1;
            height: 10vh;
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            position: unset;
            
            /* altura total de la ventana del navegador */
      }

      .main-content {
            width: 100%;
            height: 90vh;
            background-color: #e9e9e9;
            order: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: unset;
      }

      .cuerpo {
            height: 95%;
            width: 95%;
            background-color: #acacac;
            display: grid;
            place-items: center;
            border-radius: 12px;
            justify-content: center;
            overflow: overlay;
      }

      .barra-nav {
            background-color: #acacac;
            width: 95%;
            height: 95%;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
      }

      app-barranav {
            display: flex;
            align-items: center;
            flex-direction: row;
      }
}

/*estructura responsive arriba*/