<div class="cont-general">
      <div class="contenedor">
            <li>
                  <div class="card card-titulo">
                        <div class="capa-de-fondo">
                              <h1>Proyectos</h1>
                              <p>Diseños de páginas web, proyectos personales lenguajes mixtos</p>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-1">
                        <div class="capa-de-fondo">
                              <div class="card-head">
                                    <h3>Tisky</h3>
                              </div>
                              <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa.</p>
                              </div>
                              <div class="contet-iconos">
                                    <i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-2">
                        <div class="capa-de-fondo">
                              <h3>Fauna Cosmética Natural</h3>
                              <div class="contet-iconos" style="display: flex;">
                                    <i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-3">
                        <div class="capa-de-fondo">
                              <h3>Cuenta Regresiva</h3>
                              <div class="contet-iconos" style="display: flex;">
                                    <i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-4">
                        <div class="capa-de-fondo">
                              <h3>Calculadora</h3>
                              <div class="contet-iconos" style="display: flex;">
                                    <i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-5">
                        <div class="capa-de-fondo">
                              <h3>proyecto 1</h3>
                              <div class="contet-iconos" style="display: flex;">
                                    <i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
      </div>
      
</div>