<div class="cont-general">
      <div class="contenedor">
            <div class="caja-heroe">
                  <div>
                        <h1>Proyectos</h1>
                        <p class="descipcion-proyectos">Diseños de páginas web, proyectos personales lenguajes mixtos</p>
                  </div>
            </div>
            <li>
                  <div class="card card-1">
                        <div class="capa-de-fondo">
                              <div class="card-head">
                                    <h3>Tisky</h3>
                                    <button type="bottom"><i class="fa-solid fa-plus"></i></button>
                              </div>
                              <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa.</p>
                              </div>
                              <div class="contet-iconos">
                                    <i class="fa-brands fa-wordpress"></i><p> Proyecto hecho en WordPress</p>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-2">
                        <div class="capa-de-fondo">
                              <div class="card-head">
                                    <h3>Fauna Cosmética Natural</h3>
                                    <button type="bottom"><i class="fa-solid fa-plus"></i></button>
                              </div>
                              <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa.</p>
                              </div>
                              <div class="contet-iconos">
                                    <i class="fa-brands fa-wordpress"></i><p> Proyecto hecho en WordPress</p>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-3">
                        <div class="capa-de-fondo">
                              <div class="card-head">
                                    <h3>Cuenta Regresiva</h3>
                                    <button type="bottom"><i class="fa-solid fa-plus"></i></button>
                              </div>
                              <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa.</p>
                              </div>
                              <div class="contet-iconos">
                                    <p> Proyecto hecho con</p><i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
            <li>
                  <div class="card card-4">
                        <div class="capa-de-fondo">
                              <div class="card-head">
                                    <h3>Calculadora</h3>
                                    <button type="bottom"><i class="fa-solid fa-plus"></i></button>
                              </div>
                              <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa.</p>
                              </div>
                              <div class="contet-iconos">
                                    <p> Proyecto hecho con</p><i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-css3-alt"></i>
                              </div>
                        </div>
                  </div>
            </li>
            
      </div>

</div>