.cont-general {
      display: flex;
      align-items: center;

}

.caja-heroe {
      padding: 3% 3% 3% 3%;
      margin: 0% 3% 0 3%;
      width: 100%;
      border-radius: 12px;
      /* background-color: #363636; */
      color: #f7f7f7;
      /* box-shadow: inset -2px -2px 8px rgb(38 38 38); */
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
}

p {
      font-size: 16px;
      font-weight: 500;
      margin: 3% 7%;
      text-align: start;
}

.descipcion-proyectos {
      margin: 3% 3%;
}

button {
      background: hsla(212, 12%, 18%, 1);
      border-radius: 5px;
      border: 0px;
      height: 23px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7)
}

button:hover {
      background: rgb(21, 25, 27);
      border-radius: 5px;
      border: 0px;
}

h1 {
      font-size: 2em;
      margin: 0.5em 0.5em;
}

h3 {
      font-size: 1.5em;
      margin: 0;
}

.contenedor {
      /*background-color: aqua;*/
      border-radius: 12px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
}

.vista-tarjetas {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
}

li {
      width: 94%;
      height: 400px;
      /*background-color: antiquewhite;*/
      margin: 2%;
      padding: 1%;
      border-radius: 12px;
      list-style: none;
}

.card {
      background-color: #21262d;
      
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
      cursor: pointer;
      /*box-shadow: inset #464646 1px 2px 10px;*/
      border: 1px solid rgb(20 21 37);
      
}

.capa-de-fondo {
      display: flex;
      width: 100%;
      height: 100%;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;

}

.card-head {
      height: 50%;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
}

.card-body {
      height: 50%;
      width: 100%;
      color: #f7f7f7;
      background-color: #21262df0;
      border-radius: 0 0 12px 12px;
      border-top: 1px solid rgba(240,246,252,0.1);
}

.contet-iconos {
      display: flex;
      width: 100%;
      align-items: center;
      height: 20%;
      justify-content: center;
}

i {
      display: block;
      padding: 1%;
}

.card-titulo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3% 7%;
}

.card-1 {
      background-image: url("../../../assets/tisky.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
}

.capa-fondo {
      background-color: #3d00821e;
      height: 100%;
      width: 100%;
      border-radius: 12px;
}

.card-2 {
      background-image: url("../../../assets/fauna.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
}

.card-3 {
      background-image: url("../../../assets/cuenta-regresiva.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
}

.card-4 {
      background-image: url("../../../assets/calculadora.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
}

.card-5 {
      background-image: url();
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
}

.card-6 {
      background-image: url();
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
}

@media (max-width:500px) {
      .cont-general {
            display: flex;
            flex-direction: column;

      }

      .contet-iconos {
            font-size: 12px;
      }

      .card {
            /*background-color: rgb(94, 94, 146);*/
            color: #f7f7f7;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 96%;
      }

      .card-titulo {
            width: 100%;
            align-items: center;
            height: 25%;
            background-image: none;
            cursor: none;
            width: 85%;
            margin: 5% 8%;
      }

      h1 {
            font-size: 32px;
      }

      h3 {
            font-size: 1em;
      }

      p {
            font-size: 12px;
            font-weight: 500;
            margin: 1em 2.2em;
            text-align: start;
      }

}

@media (max-width:380) {
      .card-titulo {
            width: 85%;
            margin: 5% 8%;
      }

      .card-body {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      p{
            margin: 1em 2.2em;
      }

      .contet-iconos{
            font-size: 12px;
      }

}