.cont-general {
      display: flex;
      
}

h1 {
      font-size: 3em;
      margin: 0.5em 0;
}

.contenedor {
      /*background-color: aqua;*/
      border-radius: 12px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
}

li {
      width: 93%;
      height: 250px;
      /*background-color: antiquewhite;*/
      margin: auto;
      padding: 1%;
      border-radius: 12px;
      list-style: none;
}

.card {
      /*background-color: rgb(94, 94, 146);*/
      background-image: url(https://th.bing.com/th/id/OIP.hsbt_mc9UeZDNQd7fCu6twHaEm?pid=ImgDet&rs=1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: antiquewhite;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
      cursor: pointer;
      box-shadow: #464646 1px 2px 10px;
}

.capa-de-fondo {
      display: flex;
      width: 100%;
      height: 100%;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;

      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid #e2e2e2;

}

.capa-de-fondo:hover {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #9b9b9b;
}

.card-head {
      height: 35%;
      width: 100%;
}

.card-body {
      height: 40%;
}

.contet-iconos {
      display: flex;
      width: 100%;
      align-items: center;
      height: 15%;
      justify-content: center;
}

i {
      display: block;
      padding: 1%;
}

.card-titulo {
      background-color: #4646468e;
      border: 1px solid #e2e2e2;
      background-image: none;
      cursor: none;
}

.card-1 {
      background-image: url("../../../assets/tisky.png");
}

.card-2 {
      background-image: url("../../../assets/fauna.png");
}

.card-3 {
      background-image: url("../../../assets/cuenta-regresiva.png");
}

.card-4 {
      background-image: url("../../../assets/calculadora.png");
}

.card-5 {
      background-image: url();
}

.card-6 {
      background-image: url();
}

@media (max-width:500px) {
      .cont-general {
            display: flex;
            flex-direction: column;
            
      }

      .card {
            /*background-color: rgb(94, 94, 146);*/
            color: antiquewhite;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
      }

      .card-titulo {
            background-color: #4646468e;
            border: 1px solid #e2e2e2;
            background-image: none;
            cursor: none;
            width: 100%;
      }

      h1 {
            font-size: 32px;
      }
}