.cont-general{
      display: flex;
      margin-right: 3%;
}
.contenedor {
      background-color: aqua;
      border-radius: 12px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
}
li{
      width: 93%;
      height: 200px;
      background-color: antiquewhite;
      margin: 1%;
      padding: 3%;
      border-radius: 12px;
      list-style: none;
}
.card{
      background-color: rgb(94, 94, 146);
      color: antiquewhite;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
}
@media (max-width:500px) {
      .cont-general{
            display: flex;
            flex-direction: column;
            margin-right: 2%;
      }
      .card{
            background-color: rgb(94, 94, 146);
            color: antiquewhite;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 95%;
      }
      
}