<div class="panelgeneral">
      <div class="panel">
            <div class="header">
                  <div class="caja-heroe">
                        <div class="col1">
                              <h1>Hola! Soy Nico</h1>
                              <p>¿Quieres una página web profesional y con un diseño único? ¡Yo puedo crearla para vos!</p>
                        </div>
                        <div class="col2">
                              <img src="../../../assets/avatar-mio.png" alt="">
                        </div>

                  </div>
            </div>
            <div class="main-content">
                  <div class="tareas1" style="width: 50%;">
                        <div class="cabecera">
                              <h3>Servicios</h3>
                              <button type="bottom"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="centro-tarjeta">
                              <li><i class="fa-solid fa-desktop"></i><p>Creación de páginas web para dueños de negocios</p></li>
                              <li><i class="fa-brands fa-figma"></i><p>Diseño de páginas web</p></li>
                              <li><i class="fa-solid fa-mobile-screen-button"></i><p>Diseño de Aplicaciónes web</p></li>
                              <li><i class="fa-solid fa-swatchbook"></i><p>Desarrollo Full stack</p></li>
                        </div>
                  </div>
                  <div class="tareas2" style="width: 50%;">
                        <div class="cabecera">
                              <h3>Herramientas</h3>
                              <button type="bottom"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="centro-tarjeta">
                              <li><i class="fa-brands fa-html5"></i><p>HTML</p></li>
                              <li><i class="fa-brands fa-css3-alt"></i><p>CSS</p></li>
                              <li><i class="fa-brands fa-square-js"></i><p>JS</p></li>
                              <li><i class="fa-brands fa-wordpress"></i><p>WordPress</p></li>
                        </div>
                  </div>
            </div>
      </div>
      <div class="side-bar">
            <div class="barra-app">
                  <div class="top">
                        <h3>barra de aplicaciones</h3>
                  </div>
                  <div class="centro">
                        <li>tarea uno</li>
                        <li>tarea uno</li>
                        <li>tarea uno</li>
                        <li>tarea uno</li>
                  </div>
                  <div class="pie">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, asperiores.</p>
                  </div>
            </div>
      </div>
</div>