.panel {
      display: flex;
      flex-direction: column;
      width: 100%;
}
p{
      margin: 0;
      width: 95%;
}

.side-bar {
      width: 35%;
      margin: 2% 0;
      display: flex;
      justify-content: center;
      align-items: center;

}

.main-content {
      flex-grow: 1;
      min-width: 0;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

}

.panelgeneral {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      height: auto;
}

.header {
      display: flex;
      flex-direction: column;
      width: 100%;
}

.caja-heroe {
      padding: 3% 3%;
      margin: 7% 2% 0.5% 2%;
      border-radius: 12px;
      background-color: #363636;
      color: #cecece;
      box-shadow: inset -2px -2px 8px rgb(38 38 38);

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

img {
      width: 150%;
      margin-top: -36%;
      margin-left: -30%;
}

.col1 {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.col2 {
      width: 30%;
      height: 180px;
}

.tareas1,
.tareas2 {
      width: 50%;
      height: 100%;
      background-color: #363636;
      margin: 1.5% 2%;
      border-radius: 12px;
      color: aliceblue;
      box-shadow: inset -1px -1px 12px rgb(38 38 38);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.cabecera{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 15%;
}

.centro-tarjeta {
      height: 180px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-left: -3%;
}

.tareas2 {
      margin-left: 1.5%;
}

.tareas1 {
      margin-right: 1.5%;
}

li {
      list-style-type: none;
      width: 90%;
      height: 25%;
      margin-left: 6%;
      display: flex;
      align-items: center;
}

.barra-app {
      width: 100%;
      height: 100%;
      margin-right: 3.5%;
      /*background-color: #363636;*/
      border-radius: 12px;
      color: aliceblue;
      /*box-shadow: inset -1px -1px 12px rgb(38 38 38);*/

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.top {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.centro {
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      width: 100%;
      background: #363636;
      box-shadow: inset -1px -1px 12px rgb(38 38 38);
}

.pie {
      height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
}

@media (max-width:800px) {
      .panelgeneral {
            flex-direction: column;
            width: 100%;

      }

      .side-bar {
            width: 100%;

            display: flex;
            padding: 2% 0;
      }

      .barra-app {
            margin: 0 1.5%;
      }
      .col2{
            width: 25%;
      }
}