<div class="panelgeneral">
      <div class="panel">
            <div class="header">
                  <div class="caja-heroe">
                        <div class="col1">
                              <h1>Panel</h1>
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, fugiat.</p>
                        </div>
                        <div class="col2">
                              <img src="../../../assets/avatar-mio.png" alt="">
                        </div>

                  </div>
            </div>
            <div class="main-content">
                  <div class="tareas1" style="width: 50%;">
                        <div class="cabecera">
                              <h3>Tareas</h3>
                        </div>
                        <ol>
                              <li>tarea uno</li>
                              <li>tarea uno</li>
                              <li>tarea uno</li>
                              <li>tarea uno</li>
                        </ol>
                  </div>
                  <div class="tareas2" style="width: 50%;">
                        <div class="cabecera">
                              <h3>Tareas2</h3>
                        </div>
                        <ol>
                              <li>tarea uno</li>
                              <li>tarea uno</li>
                              <li>tarea uno</li>
                              <li>tarea uno</li>
                        </ol>
                  </div>
            </div>
      </div>
      <div class="side-bar">
            <div class="barra-app">
                  <div class="top">
                        <h3>barra de aplicaciones</h3>
                  </div>
                  <div class="centro">
                        <li>tarea uno</li>
                        <li>tarea uno</li>
                        <li>tarea uno</li>
                        <li>tarea uno</li>
                  </div>
                  <div class="pie">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, asperiores.</p>
                  </div>
            </div>
      </div>
</div>