.grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* dos columnas de ancho igual */
      grid-template-rows: 1fr 1fr;
      /* dos filas de altura igual */
      gap: 10px;
      /* espacio entre elementos */
      height: 500px;
}
p{
      font-size: 16px;
      font-weight: 300;
      margin: 0 1em;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
}