.avatar {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-color: aliceblue;
      overflow: visible;
      display: grid;
      place-items: center;
}

img {
      width: 100px;
      height: 100px;
      border-radius: 50px
}

ul {
      margin: 0px;
      padding: 15px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      
}

li {
      list-style: none;
      margin: 1rem 0.2em;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      font-weight: 400;
      
}
a{
      text-decoration: none;
}
i{
      margin: 0.2em 0.5em;
}

@media (max-width:800px) {
      .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background-color: aliceblue;
            overflow: visible;
            display: grid;
            place-items: center;
      }

      img {
            width: 50px;
            height: 50px;
            border-radius: 50px
      }

      ul {
            margin: 10px;
            display: flex;
            height: auto;
            padding: 5px;
            align-items: center;
            flex-direction: row;
      }
}
@media (max-width:965px) {
      a{
            display: none;
      }
}