.avatar {
      width: 80px;
      height: 80px;
      border-radius: 50px;
      background-color: aliceblue;
      overflow: visible;
      display: grid;
      place-items: center;
      box-shadow: 1px 1px 10px rgb(149, 99, 230);
}

img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
      border: 1px solid linear-gradient(to center, rgb(181, 106, 196), rgb(110, 90, 143), rgb(149, 99, 230), rgb(92, 64, 124));
}

.capa-de-img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      position: relative;
      background-image: linear-gradient(359deg, rgb(0 0 0 / 90%), transparent 88%);
}

ul {
      margin: 50% 0 0 0;
      padding: 1%;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border-top: 1px solid rgb(149, 99, 230);
}

li {
      list-style: none;
      margin: 2px 0.2em;
      font-size: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-weight: 400;
      cursor: pointer;
      padding: 10% 6%;
      width: 100%;
}

li:hover {

      border-radius: 9px;
      background: linear-gradient(to right, rgb(181, 106, 196), rgb(149, 99, 230), rgb(94, 75, 146), rgb(92, 64, 124)), #f1f1f1;
      background-size: cover;
      padding: 10% 6%;

}

.activo {
      border-radius: 9px;
      background: linear-gradient(to right, rgb(181, 106, 196), rgb(149, 99, 230), rgb(94, 75, 146), rgb(92, 64, 124)), #f1f1f1;
      background-size: cover;
      padding: 10% 6%;
}

a {
      text-decoration: none;
      color: rgb(247, 247, 247);
      font-weight: 600;
      pointer-events: none;
}

i {
      margin: 0.2em 0.5em;
      color: rgb(247, 247, 247);
      pointer-events: none;
}

@media (max-width:800px) {
      .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-color: aliceblue;
            overflow: visible;
            display: grid;
            place-items: center;
      }

      img {
            width: 40px;
            height: 40px;
            border-radius: 50px
      }

      ul {
            margin: 10px 10%;
            display: flex;
            height: 50%;
            padding: 5px 20px;
            align-items: center;
            flex-direction: row;
            border-left: 1px solid rgb(219, 82, 247);
            border-top: none;

      }

      li:hover {
            border-left: 0;
            justify-content: center;

            padding: 10% 3%;

      }
}

@media (max-width:980px) {
      a {
            display: none;
            pointer-events: none;
      }

      li {
            list-style: none;
            margin: 5px 0.2em;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            cursor: pointer;
            padding: 10% 3%;
            width: 100%;
      }
}