.avatar {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-color: aliceblue;
      overflow: visible;
      display: grid;
      place-items: center;
      box-shadow:1px 1px 10px rgb(255, 201, 119);
}

img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid white;
}

ul {
      margin: 50% 0 0 0;
      padding: 1%;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      border-top: 1px solid rgb(255, 201, 119);
}

li {
      list-style: none;
      margin: 1rem 0.2em;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: start;
      font-weight: 400;
      cursor: pointer;
      padding: 4px;

      
}
li:hover{
      border-left:2px solid rgba(255, 201, 119, 0.705);
      padding: 4px;
      
}
a{
      text-decoration: none;
      color: rgb(255, 201, 119);
}
i{
      margin: 0.2em 0.5em;
      color: rgb(255, 201, 119);
}

@media (max-width:800px) {
      .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-color: aliceblue;
            overflow: visible;
            display: grid;
            place-items: center;
      }

      img {
            width: 40px;
            height: 40px;
            border-radius: 50px
      }

      ul {
            margin: 10px 10%;
            display: flex;
            height: 50%;
            padding: 5px 20px;
            align-items: center;
            flex-direction: row;
            border-left: 1px solid rgb(255, 201, 119);
            border-top: none;

      }
      li:hover{
            border-left:0;
            border-bottom:2px solid rgba(255, 201, 119, 0.705);
            padding: 4px;
            
      }
}
@media (max-width:965px) {
      a{
            display: none;
      }
}